<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace必须是接口的全类名  -->
<mapper namespace="com.gt.myshop.mapper.NavInfoMapper">
	<select id="getNavList" resultType="NavInfo">
		SELECT ${NavFields} FROM [bma_navs] ORDER BY [displayorder] DESC
	</select>
	
</mapper>
